<%- include('../partials/adminPartial.ejs') %>
<div class="container-fluid">
  <div class="row flex-nowrap">
    <div
      class="col-auto col-md-3 col-xl-2 px-sm-2 px-0"
      style="background-color: #484c4c"
    >
      <div
        class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
      >
        <a
          href="/"
          class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none"
        >
          <span class="fs-5 d-none d-sm-inline text-white">Admin</span>
        </a>
        <ul
          class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
          id="menu"
        >
          <li class="nav-item">
            <a href="/admin/adminhome" class="nav-link align-middle px-0">
              <img
                src="/admin/images/dashboard.svg"
                alt=""
                style="width: 1rem"
              /><span class="ms-1 d-none d-sm-inline text-white"
                >Dashboard</span
              >
            </a>
          </li>
          <li>
            <a href="/admin/orders" class="nav-link px-0 align-middle">
              <img src="/admin/images/orders.svg" alt="" style="width: 1rem" />
              <span class="ms-1 d-none d-sm-inline text-white">Orders</span>
            </a>
          </li>
          <li>
            <a href="/admin/salesReports" class="nav-link px-0 align-middle">
              <img src="/admin/images/sales.svg" alt="" style="width: 1rem" />
              <span class="ms-1 d-none d-sm-inline text-white"
                >Sales Report</span
              >
            </a>
          </li>
          <li>
            <a href="/admin/products" class="nav-link px-0 align-middle">
              <img
                src="/admin/images/products.svg"
                alt=""
                style="width: 1rem"
              /><span class="ms-1 d-none d-sm-inline text-white"
                >Products</span
              ></a
            >
          </li>
          <li>
            <a href="/admin/addProducts" class="nav-link px-0 align-middle">
              <img
                src="/admin/images/add products.svg"
                alt=""
                style="width: 1rem"
              />
              <span class="ms-1 d-none d-sm-inline text-white"
                >Add Products</span
              ></a
            >
          </li>
          <li>
            <a href="/admin/Categories" class="nav-link px-0 align-middle">
              <img
                src="/admin/images/category.svg"
                alt=""
                style="width: 1rem"
              />
              <span class="ms-1 d-none d-sm-inline text-white"
                >Categories</span
              ></a
            >
          </li>
          <li>
            <a href="/admin/coupons" class="nav-link px-0 align-middle">
              <img
                src="/admin/images/discount.svg"
                alt=""
                style="width: 1rem"
              />
              <span class="ms-1 d-none d-sm-inline text-white">Coupons</span></a
            >
          </li>
          <li>
            <a href="/admin/banner" class="nav-link px-0 align-middle">
              <img src="/admin/images/banner.svg" alt="" style="width: 1rem" />
              <span class="ms-1 d-none d-sm-inline text-white">Banners</span></a
            >
          </li>
          <li>
            <a href="/admin/userDetails" class="nav-link px-0 align-middle">
              <img src="/admin/images/users.svg" alt="" style="width: 1rem" />
              <span class="ms-1 d-none d-sm-inline text-white">Users</span>
            </a>
          </li>
          <li>
            <a href="/admin/logout" class="nav-link px-0 align-middle">
              <img src="/admin/images/exit.svg" alt="" style="width: 1rem" />
              <span class="ms-1 d-none d-sm-inline text-white">Logout</span>
            </a>
          </li>
        </ul>
        <hr />
      </div>
    </div>
    <div class="col py-3">
      <h1 class="h2 mb-0 ls-tight">Dashboard</h1>
      <!-- Main -->
      <main class="py-6 bg-surface-secondary mt-2">
        <main class="container-fluid">
          <!-- Card stats -->
          <div class="row g-6 mb-6">
            <div class="col-xl-4 col-sm-6 col-12 mt-4">
              <div class="card shadow border-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <span
                        class="h6 font-semibold text-muted text-sm d-block mb-2"
                        >Today's Revenue</span
                      >
                      <span class="h3 font-bold mb-0"
                        >Rs.<%= totalOrderToday %></span
                      >
                    </div>
                    <div class="col-auto">
                      <div
                        class="icon icon-shape bg-tertiary text-white text-lg rounded-circle"
                      >
                        <i class="bi bi-credit-card"></i>
                      </div>
                    </div>
                  </div>
                  <div class="mt-2 mb-0 text-sm">
                    <span
                      class="badge badge-pill bg-soft-success text-success me-2"
                    >
                      <i class="bi bi-arrow-up me-1"></i>13%
                    </span>
                    <span class="text-nowrap text-xs text-muted"
                      >yeaterday</span
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-sm-6 col-12 mt-4">
              <div class="card shadow border-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <span
                        class="h6 font-semibold text-muted text-sm d-block mb-2"
                        >Monthly Revenue</span
                      >
                      <span class="h3 font-bold mb-0"
                        >Rs.<%= amountPending %></span
                      >
                    </div>
                    <div class="col-auto">
                      <div
                        class="icon icon-shape bg-primary text-white text-lg rounded-circle"
                      >
                        <i class="bi bi-calendar"></i>
                      </div>
                    </div>
                  </div>
                  <div class="mt-2 mb-0 text-sm">
                    <span
                      class="badge badge-pill bg-soft-success text-success me-2"
                    >
                      <i class="bi bi-arrow-up me-1"></i>30%
                    </span>
                    <span class="text-nowrap text-xs text-muted"
                      >Since last month</span
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-sm-6 col-12 mt-4">
              <div class="card shadow border-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <span
                        class="h6 font-semibold text-muted text-sm d-block mb-2"
                        >Total Revenue</span
                      >
                      <span class="h3 font-bold mb-0"
                        >Rs.<%= totalAmount %></span
                      >
                    </div>
                    <div class="col-auto">
                      <div
                        class="icon icon-shape bg-info text-white text-lg rounded-circle"
                      >
                        <i class="bi bi-clock-history"></i>
                      </div>
                    </div>
                  </div>
                  <div class="mt-2 mb-0 text-sm">
                    <span
                      class="badge badge-pill bg-soft-danger text-danger me-2"
                    >
                      <i class="bi bi-arrow-down me-1"></i>-5%
                    </span>
                    <span class="text-nowrap text-xs text-muted"
                      >Since last month</span
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12 mt-4">
              <div class="card shadow border-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <span
                        class="h6 font-semibold text-muted text-sm d-block mb-2"
                        >Toatal Orders</span
                      >
                      <span class="h3 font-bold mb-0"><%= allOrders %></span>
                    </div>
                    <div class="col-auto">
                      <div
                        class="icon icon-shape bg-warning text-white text-lg rounded-circle"
                      >
                        <i class="bi bi-minecart-loaded"></i>
                      </div>
                    </div>
                  </div>
                  <div class="mt-2 mb-0 text-sm">
                    <span
                      class="badge badge-pill bg-soft-success text-success me-2"
                    >
                      <i class="bi bi-arrow-up me-1"></i>10%
                    </span>
                    <span class="text-nowrap text-xs text-muted"
                      >Since last month</span
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12 mt-4">
              <div class="card shadow border-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <span
                        class="h6 font-semibold text-muted text-sm d-block mb-2"
                        >Order Pending</span
                      >
                      <span id="pending" class="h3 font-bold mb-0"
                        ><%= pending %></span
                      >
                      <input
                        type="hidden"
                        value="<%= cancelled %>"
                        id="cancelled"
                      />
                      <input type="hidden" value="<%= codOrder %>" id="cod" />
                      <input
                        type="hidden"
                        value="<%= razorPayOrder %>"
                        id="razorpay"
                      />
                    </div>
                    <div class="col-auto">
                      <div
                        class="icon icon-shape bg-warning text-white text-lg rounded-circle"
                      >
                        <i class="bi bi-minecart-loaded"></i>
                      </div>
                    </div>
                  </div>
                  <div class="mt-2 mb-0 text-sm">
                    <span
                      class="badge badge-pill bg-soft-success text-success me-2"
                    >
                      <i class="bi bi-arrow-up me-1"></i>10%
                    </span>
                    <span class="text-nowrap text-xs text-muted"
                      >Since last month</span
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12 mt-4">
              <div class="card shadow border-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <span
                        class="h6 font-semibold text-muted text-sm d-block mb-2"
                        >Order Shipped</span
                      >
                      <span id="shipped" class="h3 font-bold mb-0"
                        ><%= processing %></span
                      >
                    </div>
                    <div class="col-auto">
                      <div
                        class="icon icon-shape bg-warning text-white text-lg rounded-circle"
                      >
                        <i class="bi bi-minecart-loaded"></i>
                      </div>
                    </div>
                  </div>
                  <div class="mt-2 mb-0 text-sm">
                    <span
                      class="badge badge-pill bg-soft-success text-success me-2"
                    >
                      <i class="bi bi-arrow-up me-1"></i>10%
                    </span>
                    <span class="text-nowrap text-xs text-muted"
                      >Since last month</span
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12 mt-4">
              <div class="card shadow border-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <span
                        class="h6 font-semibold text-muted text-sm d-block mb-2"
                        >Order Delivered</span
                      >
                      <span id="delivered" class="h3 font-bold mb-0"
                        ><%= delivered %></span
                      >
                    </div>
                    <div class="col-auto">
                      <div
                        class="icon icon-shape bg-warning text-white text-lg rounded-circle"
                      >
                        <i class="bi bi-minecart-loaded"></i>
                      </div>
                    </div>
                  </div>
                  <div class="mt-2 mb-0 text-sm">
                    <span
                      class="badge badge-pill bg-soft-success text-success me-2"
                    >
                      <i class="bi bi-arrow-up me-1"></i>10%
                    </span>
                    <span class="text-nowrap text-xs text-muted"
                      >Since last month</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </main>
      <div class="row">
        <div class="col-xl-6 col-12">
          <canvas id="pie-chart"></canvas>
        </div>
        <div class="col-xl-6 col-12">
          <canvas id="salse-revenue"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
<script>
  let pending = document.getElementById("pending").innerHTML;
  let shipped = document.getElementById("shipped").innerHTML;
  let delivered = document.getElementById("delivered").innerHTML;
  let cancelled = document.getElementById("cancelled").value;
  var ctx5 = document.getElementById("pie-chart").getContext("2d");
  var myChart5 = new Chart(ctx5, {
    type: "bar",
    data: {
      labels: ["Pending", "Shipped", "Delivered", "Cancelled"],
      datasets: [
        {
          backgroundColor: ["#C2C9C8", "#0B6464", "#515454", "#3E5A5A"],
          data: [pending, shipped, delivered, cancelled],
        },
      ],
    },
    options: {
      responsive: true,
    },
  });
  let cod = document.getElementById("cod").value;
  let razorpay = document.getElementById("razorpay").value;
  var ctx6 = document.getElementById("salse-revenue").getContext("2d");
  var myChart6 = new Chart(ctx6, {
    type: "bar",
    data: {
      labels: ["COD", "Razorpay"],
      datasets: [
        {
          backgroundColor: ["#C2C9C8", "#515454"],
          data: [cod, razorpay],
        },
      ],
    },
    options: {
      responsive: true,
    },
  });
</script>
