<%- include('../partials/adminPartial.ejs') %>
<div class="container-fluid">
  <div class="row flex-nowrap">
    <div
      class="col-auto col-md-3 col-xl-2 px-sm-2 px-0"
      style="background-color: #57423f"
    >
      <div
        class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
      >
        <a
          href="/"
          class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none"
        >
          <span class="fs-5 d-none d-sm-inline">Admin</span>
        </a>
        <ul
          class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
          id="menu"
        >
          <li class="nav-item">
            <a href="/admin/adminhome" class="nav-link align-middle px-0">
              <img
                src="/admin/images/dashboard.svg"
                alt=""
                style="width: 1rem"
              /><span class="ms-1 d-none d-sm-inline">Dashboard</span>
            </a>
          </li>
          <li>
            <a
              href="#submenu1"
              data-bs-toggle="collapse"
              class="nav-link px-0 align-middle"
            >
              <img src="/admin/images/orders.svg" alt="" style="width: 1rem" />
              <span class="ms-1 d-none d-sm-inline">Order</span>
            </a>
          </li>
          <li>
            <a href="/admin/products" class="nav-link px-0 align-middle">
              <img
                src="/admin/images/products.svg"
                alt=""
                style="width: 1rem"
              /><span class="ms-1 d-none d-sm-inline">Products</span></a
            >
          </li>
          <li>
            <a href="/admin/addProducts" class="nav-link px-0 align-middle">
              <img
                src="/admin/images/add products.svg"
                alt=""
                style="width: 1rem"
              />
              <span class="ms-1 d-none d-sm-inline">Add Products</span></a
            >
          </li>
          <li>
            <a href="/admin/Categories" class="nav-link px-0 align-middle">
              <img
                src="/admin/images/category.svg"
                alt=""
                style="width: 1rem"
              />
              <span class="ms-1 d-none d-sm-inline">Categories</span></a
            >
          </li>
          <li>
            <a href="/admin/userDetails" class="nav-link px-0 align-middle">
              <img src="/admin/images/users.svg" alt="" style="width: 1rem" />
              <span class="ms-1 d-none d-sm-inline">Users</span>
            </a>
          </li>
          <li>
            <a href="/admin/logout" class="nav-link px-0 align-middle">
              <img src="/admin/images/exit.svg" alt="" style="width: 1rem" />
              <span class="ms-1 d-none d-sm-inline">Logout</span>
            </a>
          </li>
        </ul>
        <hr />
      </div>
    </div>
    <div class="col py-3">
      <section>
        <div class="container mt-5">
          <h1>Categories</h1>
          <div class="d-flex justify-content-end mb-5">
            <div>
              <button
                type="button"
                class="btn btn-danger"
                data-bs-toggle="modal"
                data-bs-target="#staticBackdrop"
              >
                Add Categories
              </button>
              <div
                class="modal fade"
                id="staticBackdrop"
                data-bs-backdrop="static"
                data-bs-keyboard="false"
                tabindex="-1"
                aria-labelledby="staticBackdropLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">
                        Add Category
                      </h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <form action="/admin/addCategory" method="post">
                      <div class="modal-body">
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label"
                            >Category</label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="category"
                            name="category"
                            aria-describedby="emailHelp"
                          />
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-secondary"
                          data-bs-dismiss="modal"
                        >
                          Close
                        </button>
                        <button
                          type="submit"
                          value="submit"
                          class="btn btn-primary"
                        >
                          submit
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <table id="table" class="table table-hover table-light">
            <thead>
              <tr>
                <th class="col-3 col-md-3 col-lg-3 col-xl-1 text-center">
                  Sl.No
                </th>
                <th class="col-3 col-md-3 col-lg-3 col-xl-1 text-center">
                  Category
                </th>
                <th class="col-3 col-md-3 col-lg-3 col-xl-1 text-center">
                  Edit
                </th>
              </tr>
            </thead>
            <tbody>
              <% allCategories.forEach((allCategories,index)=>{ %>
              <tr>
                <td class="col-3 col-md-3 col-lg-3 col-xl-1 text-center">
                  <%= index + 1 %>
                </td>
                <td class="col-3 col-md-3 col-lg-3 col-xl-2 text-center">
                  <%= allCategories.category %>
                </td>
                <td class="col-3 col-md-3 col-lg-3 col-xl-2 text-center">
                  <button
                    type="button"
                    class="btn btn-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop-<%= allCategories._id %>"
                  >
                    Edit
                  </button>
                  <div
                    class="modal fade"
                    id="staticBackdrop-<%= allCategories._id %>"
                    data-bs-backdrop="static"
                    data-bs-keyboard="false"
                    tabindex="-1"
                    aria-labelledby="staticBackdropLabel"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <form
                          action="/admin/editCategory/<%= allCategories._id %>"
                          method="post"
                        >
                          <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">
                              Edit Category
                            </h5>
                          </div>
                          <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label"
                              >Category</label
                            >
                            <input
                              type="text"
                              class="form-control"
                              id="category"
                              name="category"
                              aria-describedby="emailHelp"
                              value="<%= allCategories.category %>"
                            />
                          </div>
                          <div class="modal-footer">
                            <button
                              type="button"
                              class="btn btn-secondary"
                              data-bs-dismiss="modal"
                            >
                              Close
                            </button>
                            <button
                              type="submit"
                              value="submit"
                              class="btn btn-primary"
                            >
                              Confirm
                            </button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <button
                    type=""
                    class="btn btn-danger"
                    data-bs-toggle="modal"
                    data-bs-target="#static-<%= allCategories._id %>"
                  >
                    Delete
                  </button>
                  <div
                    class="modal fade"
                    id="static-<%= allCategories._id %>"
                    data-bs-backdrop="static"
                    data-bs-keyboard="false"
                    tabindex="-1"
                    aria-labelledby="staticBackdropLabel"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="staticBackdropLabel">
                            Delete Product
                          </h5>
                          <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                          ></button>
                        </div>
                        <div class="modal-body">
                          Want to delete <%= allCategories.category %>
                        </div>
                        <div class="modal-footer">
                          <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                          >
                            Close
                          </button>
                          <a
                            href="/admin/deleteCategory/<%= allCategories._id %>"
                            ><button type="button" class="btn btn-primary">
                              Confirm
                            </button></a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $("#table").DataTable();
  });
</script>
