<%- include('../partials/adminPartial.ejs') %>
<div class="container-fluid">
  <div class="row flex-nowrap">
    <div
      class="col-auto col-md-3 col-xl-2 px-sm-2 px-0"
      style="background-color: #484c4c"
    >
      <div
        class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
      >
        <a
          href="/"
          class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none"
        >
          <span class="fs-5 d-none d-sm-inline text-white">Admin</span>
        </a>
        <ul
          class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
          id="menu"
        >
          <li class="nav-item">
            <a href="/admin/adminhome" class="nav-link align-middle px-0">
              <img
                src="/admin/images/dashboard.svg"
                alt=""
                style="width: 1rem"
              /><span class="ms-1 d-none d-sm-inline text-white"
                >Dashboard</span
              >
            </a>
          </li>
          <li>
            <a href="/admin/orders" class="nav-link px-0 align-middle">
              <img src="/admin/images/orders.svg" alt="" style="width: 1rem" />
              <span class="ms-1 d-none d-sm-inline text-white">Orders</span>
            </a>
          </li>
          <li>
            <a href="/admin/salesReports" class="nav-link px-0 align-middle">
              <img src="/admin/images/sales.svg" alt="" style="width: 1rem" />
              <span class="ms-1 d-none d-sm-inline text-white"
                >Sales Report</span
              >
            </a>
          </li>
          <li>
            <a href="/admin/products" class="nav-link px-0 align-middle">
              <img
                src="/admin/images/products.svg"
                alt=""
                style="width: 1rem"
              /><span class="ms-1 d-none d-sm-inline text-white"
                >Products</span
              ></a
            >
          </li>
          <li>
            <a href="/admin/addProducts" class="nav-link px-0 align-middle">
              <img
                src="/admin/images/add products.svg"
                alt=""
                style="width: 1rem"
              />
              <span class="ms-1 d-none d-sm-inline text-white"
                >Add Products</span
              ></a
            >
          </li>
          <li>
            <a href="/admin/Categories" class="nav-link px-0 align-middle">
              <img
                src="/admin/images/category.svg"
                alt=""
                style="width: 1rem"
              />
              <span class="ms-1 d-none d-sm-inline text-white"
                >Categories</span
              ></a
            >
          </li>
          <li>
            <a href="/admin/coupons" class="nav-link px-0 align-middle">
              <img
                src="/admin/images/discount.svg"
                alt=""
                style="width: 1rem"
              />
              <span class="ms-1 d-none d-sm-inline text-white">Coupons</span></a
            >
          </li>
          <li>
            <a href="/admin/banner" class="nav-link px-0 align-middle">
              <img src="/admin/images/banner.svg" alt="" style="width: 1rem" />
              <span class="ms-1 d-none d-sm-inline text-white">Banners</span></a
            >
          </li>
          <li>
            <a href="/admin/userDetails" class="nav-link px-0 align-middle">
              <img src="/admin/images/users.svg" alt="" style="width: 1rem" />
              <span class="ms-1 d-none d-sm-inline text-white">Users</span>
            </a>
          </li>
          <li>
            <a href="/admin/logout" class="nav-link px-0 align-middle">
              <img src="/admin/images/exit.svg" alt="" style="width: 1rem" />
              <span class="ms-1 d-none d-sm-inline text-white">Logout</span>
            </a>
          </li>
        </ul>
        <hr />
      </div>
    </div>
    <div class="col py-3">
      <section>
        <div class="container mt-5">
          <h1>Coupons</h1>
          <div class="d-flex justify-content-end mb-5">
            <div>
              <button
                type="button"
                class="btn btn-outline-success"
                data-bs-toggle="modal"
                data-bs-target="#staticBackdrop"
              >
                Add Coupon
              </button>
              <% if(locals.err_message){%>
              <div>
                <p class="text-danger"><%=err_message%></p>
              </div>
              <%}%>
              <div
                class="modal fade"
                id="staticBackdrop"
                data-bs-backdrop="static"
                data-bs-keyboard="false"
                tabindex="-1"
                aria-labelledby="staticBackdropLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">
                        Add Coupon
                      </h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <form
                      action="/admin/addCoupon"
                      method="post"
                      onsubmit="return validateAddCoupon(this);"
                    >
                      <div class="modal-body">
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label"
                            >Coupon</label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="coupon"
                            name="coupon"
                            aria-describedby="emailHelp"
                          />
                          <p id="couponError" style="color: red"></p>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label"
                            >Discount(In percentage)</label
                          >
                          <input
                            type="num"
                            class="form-control"
                            id="discount"
                            name="discount"
                            aria-describedby="emailHelp"
                          />
                          <p id="discountError" style="color: red"></p>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label"
                            >Maximum Limit</label
                          >
                          <input
                            type="number"
                            class="form-control"
                            id="max"
                            name="max"
                            aria-describedby="emailHelp"
                          />
                          <p id="maxError" style="color: red"></p>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label"
                            >Expire Date</label
                          >
                          <input
                            type="date"
                            class="form-control"
                            id="exdate"
                            name="exdate"
                            aria-describedby="emailHelp"
                          />
                          <p id="exdateError" style="color: red"></p>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-outline-secondary"
                          data-bs-dismiss="modal"
                        >
                          Close
                        </button>
                        <button
                          type="submit"
                          value="submit"
                          class="btn btn-outline-primary"
                        >
                          submit
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container table-responsive">
            <table
              id="table"
              class="table table-hover table-light text-start align-middle table-bordered"
            >
              <thead>
                <tr>
                  <th class="col-3 col-md-3 col-lg-3 col-xl-1 text-center">
                    Sl.No
                  </th>
                  <th class="col-3 col-md-3 col-lg-3 col-xl-1 text-center">
                    Coupon
                  </th>
                  <th class="col-3 col-md-3 col-lg-3 col-xl-1 text-center">
                    Expire Date
                  </th>
                  <th class="col-3 col-md-3 col-lg-3 col-xl-1 text-center">
                    Options
                  </th>
                </tr>
              </thead>
              <tbody>
                <% coupons.forEach((coupons,index)=>{ %>
                <tr>
                  <td class="col-3 col-md-3 col-lg-3 col-xl-1 text-center">
                    <%= index + 1 %>
                  </td>
                  <th class="col-3 col-md-3 col-lg-3 col-xl-1 text-center">
                    <%= coupons.couponName %>
                  </th>
                  <td class="col-3 col-md-3 col-lg-3 col-xl-1 text-center">
                    <%= coupons.expirationTime %>
                  </td>
                  <td class="col-3 col-md-3 col-lg-3 col-xl-1 text-center">
                    <button
                      type="button"
                      class="btn btn-outline-none"
                      data-bs-toggle="modal"
                      data-bs-target="#staticBackdrop-<%= coupons._id %>"
                    >
                      <i class="bi bi-pencil-square"></i>
                    </button>
                    <div
                      class="modal fade"
                      id="staticBackdrop-<%= coupons._id %>"
                      data-bs-backdrop="static"
                      data-bs-keyboard="false"
                      tabindex="-1"
                      aria-labelledby="staticBackdropLabel"
                      aria-hidden="true"
                    >
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5
                              class="modal-title"
                              id="staticBackdrop-<%= coupons._id %>"
                            >
                              Edit Coupon
                            </h5>
                            <button
                              type="button"
                              class="btn-close"
                              data-bs-dismiss="modal"
                              aria-label="Close"
                            ></button>
                          </div>
                          <form
                            action="/admin/editCoupon/<%= coupons._id %>"
                            method="post"
                          >
                            <div class="modal-body">
                              <div class="mb-3">
                                <label
                                  for="exampleInputEmail1"
                                  class="form-label"
                                  >Coupon</label
                                >
                                <input
                                  type="text"
                                  class="form-control"
                                  id="coupon"
                                  name="coupon"
                                  value="<%= coupons.couponName %>"
                                  aria-describedby="emailHelp"
                                />
                                <p id="couponNameError" style="color: red"></p>
                              </div>
                              <div class="mb-3">
                                <label
                                  for="exampleInputEmail1"
                                  class="form-label"
                                  >Discount(In percentage)</label
                                >
                                <input
                                  type="num"
                                  class="form-control"
                                  id="discount"
                                  name="discount"
                                  value="<%= coupons.discount*100 %>"
                                  aria-describedby="emailHelp"
                                />
                                <p id="discountsError" style="color: red"></p>
                              </div>
                              <div class="mb-3">
                                <label
                                  for="exampleInputEmail1"
                                  class="form-label"
                                  >Maximum Limit</label
                                >
                                <input
                                  type="number"
                                  class="form-control"
                                  id="max"
                                  name="max"
                                  value="<%= coupons.maxLimit %>"
                                  aria-describedby="emailHelp"
                                />
                                <p id="maxlError" style="color: red"></p>
                              </div>
                              <div class="mb-3">
                                <label
                                  for="exampleInputEmail1"
                                  class="form-label"
                                  >Expire Date</label
                                >
                                <input
                                  type="date"
                                  class="form-control"
                                  id="exdate"
                                  name="exdate"
                                  value="<%= coupons.expirationTime %>"
                                  aria-describedby="emailHelp"
                                />
                                <p id="expdateError" style="color: red"></p>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button
                                type="button"
                                class="btn btn-outline-secondary"
                                data-bs-dismiss="modal"
                              >
                                Close
                              </button>
                              <button
                                id="submit"
                                type="submit"
                                value="submit"
                                class="btn btn-outline-primary"
                              >
                                submit
                              </button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    <button
                      type=""
                      class="btn btn-outline-none"
                      data-bs-toggle="modal"
                      data-bs-target="#static-<%= coupons._id %>"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-trash3-fill"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"
                        />
                      </svg>
                    </button>
                    <div
                      class="modal fade"
                      id="static-<%= coupons._id %>"
                      data-bs-backdrop="static"
                      data-bs-keyboard="false"
                      tabindex="-1"
                      aria-labelledby="staticBackdropLabel"
                      aria-hidden="true"
                    >
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">
                              Delete Coupon
                            </h5>
                            <button
                              type="button"
                              class="btn-close"
                              data-bs-dismiss="modal"
                              aria-label="Close"
                            ></button>
                          </div>
                          <div class="modal-body">
                            Want to delete <%= coupons.couponName %>
                          </div>
                          <div class="modal-footer">
                            <button
                              type="button"
                              class="btn btn-outline-secondary"
                              data-bs-dismiss="modal"
                            >
                              Close
                            </button>
                            <a href="/admin/deleteCoupon/<%= coupons._id %>"
                              ><button
                                type="button"
                                class="btn btn-outline-primary"
                              >
                                Confirm
                              </button></a
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $("#table").DataTable();
  });
</script>
