<%- include('../partials/adminPartial.ejs') %>
<div class="container-fluid">
  <div class="row flex-nowrap">
    <div
      class="col-auto col-md-3 col-xl-2 px-sm-2 px-0"
      style="background-color: #484c4c"
    >
      <div
        class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
      >
        <a
          href="/"
          class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none"
        >
          <span class="fs-5 d-none d-sm-inline text-white">Admin</span>
        </a>
        <ul
          class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
          id="menu"
        >
          <li class="nav-item">
            <a href="/admin/adminhome" class="nav-link align-middle px-0">
              <img
                src="/admin/images/dashboard.svg"
                alt=""
                style="width: 1rem"
              /><span class="ms-1 d-none d-sm-inline text-white"
                >Dashboard</span
              >
            </a>
          </li>
          <li>
            <a href="/admin/orders" class="nav-link px-0 align-middle">
              <img src="/admin/images/orders.svg" alt="" style="width: 1rem" />
              <span class="ms-1 d-none d-sm-inline text-white">Order</span>
            </a>
          </li>
          <li>
            <a href="/admin/salesReports" class="nav-link px-0 align-middle">
              <img src="/admin/images/sales.svg" alt="" style="width: 1rem" />
              <span class="ms-1 d-none d-sm-inline text-white"
                >Sales Report</span
              >
            </a>
          </li>
          <li>
            <a href="/admin/products" class="nav-link px-0 align-middle">
              <img
                src="/admin/images/products.svg"
                alt=""
                style="width: 1rem"
              /><span class="ms-1 d-none d-sm-inline text-white"
                >Products</span
              ></a
            >
          </li>
          <li>
            <a href="/admin/addProducts" class="nav-link px-0 align-middle">
              <img
                src="/admin/images/add products.svg"
                alt=""
                style="width: 1rem"
              />
              <span class="ms-1 d-none d-sm-inline text-white"
                >Add Products</span
              ></a
            >
          </li>
          <li>
            <a href="/admin/Categories" class="nav-link px-0 align-middle">
              <img
                src="/admin/images/category.svg"
                alt=""
                style="width: 1rem"
              />
              <span class="ms-1 d-none d-sm-inline text-white"
                >Categories</span
              ></a
            >
          </li>
          <li>
            <a href="/admin/coupons" class="nav-link px-0 align-middle">
              <img
                src="/admin/images/discount.svg"
                alt=""
                style="width: 1rem"
              />
              <span class="ms-1 d-none d-sm-inline text-white">Coupons</span></a
            >
          </li>
          <li>
            <a href="/admin/banner" class="nav-link px-0 align-middle">
              <img src="/admin/images/banner.svg" alt="" style="width: 1rem" />
              <span class="ms-1 d-none d-sm-inline text-white">Banners</span></a
            >
          </li>
          <li>
            <a
              href="/admin/userDetails"
              data-bs-toggle="collapse"
              class="nav-link px-0 align-middle"
            >
              <img
                src="/admin/images/users.svg"
                alt=""
                style="width: 1rem; color: white"
              />
              <span class="ms-1 d-none d-sm-inline text-white">Users</span>
            </a>
          </li>
          <li>
            <a href="/admin/logout" class="nav-link px-0 align-middle">
              <img src="/admin/images/exit.svg" alt="" style="width: 1rem" />
              <span class="ms-1 d-none d-sm-inline text-white">Logout</span>
            </a>
          </li>
        </ul>
        <hr />
      </div>
    </div>
    <div class="col py-3">
      <section class="html-content">
        <h1>Order Details</h1>
        <div class="container mt-5 table-responsive">
          <table
            id="table"
            class="table mt-5 table-hover table-light text-start align-middle table-bordered"
          >
            <thead>
              <tr>
                <th class="col-3 col-md-3 col-lg-3 col-xl-1 text-center">
                  User Name
                </th>
                <th class="col-3 col-md-3 col-lg-3 col-xl-1 text-center">
                  Mobile
                </th>
                <th class="col-3 col-md-3 col-lg-3 col-xl-1 text-center">
                  Payment Method
                </th>
                <th class="col-3 col-md-3 col-lg-3 col-xl-1 text-center">
                  Payment Status
                </th>
                <th class="col-3 col-md-3 col-lg-3 col-xl-1 text-center">
                  Order Status
                </th>
                <th class="col-3 col-md-3 col-lg-3 col-xl-1 text-center">
                  Order Date
                </th>
                <th class="col-3 col-md-3 col-lg-3 col-xl-1 text-center">
                  Option
                </th>
              </tr>
            </thead>
            <tbody>
              <% orderDetails.forEach((order)=>{ %>
              <tr>
                <td class="col-3 col-md-3 col-lg-3 col-xl-2 text-center">
                  <%= order.username %>
                </td>
                <td class="col-3 col-md-3 col-lg-3 col-xl-2 text-center">
                  <%= order.mobile %>
                </td>
                <th class="col-3 col-md-3 col-lg-3 col-xl-1 text-center">
                  <%= order.paymentMethod %>
                </th>
                <td class="col-3 col-md-3 col-lg-3 col-xl-2 text-center">
                  <%= order.paymentStatus %>
                </td>
                <% if(order.orderStatus === "Pending"){ %>
                <td
                  class="col-3 col-md-3 col-lg-3 col-xl-2 text-center text-warning"
                >
                  <%= order.orderStatus %>
                </td>
                <% }else if(order.orderStatus === "Shipped"){ %>
                <td
                  class="col-3 col-md-3 col-lg-3 col-xl-2 text-center text-info"
                >
                  <%= order.orderStatus %>
                </td>
                <% }else if(order.orderStatus === "Delivered"){ %>
                <td
                  class="col-3 col-md-3 col-lg-3 col-xl-2 text-center text-success"
                >
                  <%= order.orderStatus %>
                </td>
                <% }else if(order.orderStatus === "Cancelled"){ %>
                <td
                  class="col-3 col-md-3 col-lg-3 col-xl-2 text-center text-danger"
                >
                  <%= order.orderStatus %>
                </td>
                <% } %>
                <td class="col-3 col-md-3 col-lg-3 col-xl-2 text-center">
                  <%= order.orderDate %>
                </td>
                <td class="col-3 col-md-3 col-lg-3 col-xl-2 text-center">
                  <button
                    type="button"
                    class="btn btn-outline-none"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal-<%= order._id %>"
                  >
                    <i class="bi bi-view-list"></i>
                  </button>
                  <button
                    type="button"
                    class="btn btn-outline-none"
                    data-bs-toggle="modal"
                    data-bs-target="#example-<%= order._id %>"
                  >
                    <i class="bi bi-pencil-square"></i>
                  </button>
                </td>
              </tr>

              <% }) %>
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </div>
</div>
<% orderDetails.forEach((order)=>{ %>
<div
  class="modal fade"
  id="example-<%= order._id %>"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit</h1>
      </div>
      <div class="modal-body">
        <form action="/admin/changeStatus/<%= order._id %>" method="post">
          <div class="mb-3">
            <label
              for="recipient-name"
              name="orderStatus"
              class="col-form-label"
            >
              Order Status
            </label>
            <select
              class="form-select"
              name="orderStatus"
              aria-label="Default select example"
            >
              <option selected><%= order.orderStatus %></option>
              <option value="Pending" name="orderStatus">Pending</option>
              <option value="Shipped" name="orderStatus">Shipped</option>
              <option value="Delivered" name="orderStatus">Delivered</option>
              <option value="Cancelled" name="orderStatus">Cancel</option>
            </select>
          </div>
          <div class="mb-3">
            <label
              for="message-text"
              name="paymentStatus"
              class="col-form-label"
              >Payment Status</label
            >
            <select
              class="form-select"
              name="paymentStatus"
              aria-label="Default select example"
            >
              <option selected><%= order.paymentStatus %></option>
              <option value="Not Paid" name="paymentStatus">Not Paid</option>
              <option value="Paid" name="paymentStatus">Paid</option>
            </select>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" value="submit" class="btn btn-primary">
              confirm
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal-<%= order._id %>"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Product Details</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <section class="h-100 gradient-custom">
          <div class="container py-5 h-100">
            <div
              class="row d-flex justify-content-center align-items-center h-100"
            >
              <div class="col-lg-10 col-xl-8">
                <div class="card mt-3" style="border-radius: 10px">
                  <div class="card-header px-4 py-5">
                    <h5 class="text-muted mb-0">
                      Product Details
                      <span style="color: #a8729a"> </span>!
                    </h5>
                  </div>
                  <div class="card-body p-4">
                    <div class="card shadow-0 border mb-4">
                      <div class="card-body">
                        <% order.products.forEach((product)=>{ %>
                        <div class="row">
                          <div class="col-md-2">
                            <img
                              src="/admin/products/<%= product._id %>.jpg"
                              class="img-fluid"
                              alt="Phone"
                            />
                          </div>
                          <div
                            class="col-md-2 text-center d-flex justify-content-center align-items-center"
                          >
                            <p class="text-muted mb-0">
                              <%= product.product %>
                            </p>
                          </div>
                          <div
                            class="col-md-2 text-center d-flex justify-content-center align-items-center"
                          >
                            <p class="text-muted mb-0 small">
                              <%= product.category %>
                            </p>
                          </div>
                          <div
                            class="col-md-2 text-center d-flex justify-content-center align-items-center"
                          >
                            <p class="text-muted mb-0 small">
                              <%= product.description %>
                            </p>
                          </div>
                          <div
                            class="col-md-2 text-center d-flex justify-content-center align-items-center"
                          >
                            <p class="text-muted mb-0 small">
                              <%= product.price %>
                            </p>
                          </div>
                          <div
                            class="col-md-2 text-center d-flex justify-content-center align-items-center"
                          >
                            <% order.orderItems.forEach((quantity)=>{ %>
                            <p class="text-muted mb-0 small">
                              <% if(product._id+"" == quantity.productId+""){ %>
                              <%= quantity.quantity %> <% } %>
                            </p>
                            <% }) %>
                          </div>
                        </div>
                        <% }) %>
                      </div>
                    </div>
                    <div class="d-flex justify-content-between pt-2">
                      <p class="fw-bold mb-0">Order Details</p>
                      <p class="text-muted mb-0">
                        <span class="fw-bold me-4">Delivery Charges</span> Free
                      </p>
                    </div>

                    <div class="d-flex justify-content-between pt-2">
                      <p class="text-muted mb-0">
                        Invoice Number :<%= order._id %>
                      </p>
                      <% if(order.discount){ %>
                  <p class="text-muted mb-0">
                    <span class="fw-bold me-4">Discount</span>Rs. <%=
                    order.discount %>
                  </p>
                  <% }else{ %>
                  <p class="text-muted mb-0">
                    <span class="fw-bold me-4">Discount</span> --
                  </p>
                  <% } %>
                    </div>

                    <div class="d-flex justify-content-between">
                      <p class="text-muted mb-0">
                        Invoice Date : <%= order.orderDate %>
                      </p>
                      <p class="text-muted mb-0">
                        <span class="fw-bold me-4">Total</span>Rs. <%=
                        order.totalAmount %>
                      </p>
                    </div>

                    <div class="d-flex justify-content-between mb-5">
                      <p class="text-muted mb-0">
                        Address : <%= order.address.housename %>,<%=
                        order.address.area %>,<%= order.address.landmark %>
                        <br />,<%= order.address.city %>,<%= order.address.state
                        %>,<%= order.address.pincode %> <br /><%= order.mobile
                        %>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<% }) %>

<script>
  $(document).ready(function () {
    $("#table").DataTable();
  });
</script>
