<%- include('../partials/adminPartial.ejs') %>
<div class="container-fluid">
  <div class="row flex-nowrap">
    <div
      class="col-auto col-md-3 col-xl-2 px-sm-2 px-0"
      style="background-color: #484c4c"
    >
      <div
        class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
      >
        <a
          href="/"
          class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none"
        >
          <span class="fs-5 d-none d-sm-inline text-white">Admin</span>
        </a>
        <ul
          class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
          id="menu"
        >
          <li class="nav-item">
            <a href="/admin/adminhome" class="nav-link align-middle px-0">
              <img
                src="/admin/images/dashboard.svg"
                alt=""
                style="width: 1rem"
              /><span class="ms-1 d-none d-sm-inline text-white"
                >Dashboard</span
              >
            </a>
          </li>
          <li>
            <a href="/admin/orders" class="nav-link px-0 align-middle">
              <img src="/admin/images/orders.svg" alt="" style="width: 1rem" />
              <span class="ms-1 d-none d-sm-inline text-white">Orders</span>
            </a>
          </li>
          <li>
            <a href="/admin/salesReports" class="nav-link px-0 align-middle">
              <img src="/admin/images/sales.svg" alt="" style="width: 1rem" />
              <span class="ms-1 d-none d-sm-inline text-white"
                >Sales Report</span
              >
            </a>
          </li>
          <li>
            <a href="/admin/products" class="nav-link px-0 align-middle">
              <img
                src="/admin/images/products.svg"
                alt=""
                style="width: 1rem"
              /><span class="ms-1 d-none d-sm-inline text-white"
                >Products</span
              ></a
            >
          </li>
          <li>
            <a href="/admin/addProducts" class="nav-link px-0 align-middle">
              <img
                src="/admin/images/add products.svg"
                alt=""
                style="width: 1rem"
              />
              <span class="ms-1 d-none d-sm-inline text-white"
                >Add Products</span
              ></a
            >
          </li>
          <li>
            <a href="/admin/Categories" class="nav-link px-0 align-middle">
              <img
                src="/admin/images/category.svg"
                alt=""
                style="width: 1rem"
              />
              <span class="ms-1 d-none d-sm-inline text-white"
                >Categories</span
              ></a
            >
          </li>
          <li>
            <a href="/admin/coupons" class="nav-link px-0 align-middle">
              <img
                src="/admin/images/discount.svg"
                alt=""
                style="width: 1rem"
              />
              <span class="ms-1 d-none d-sm-inline text-white">Coupons</span></a
            >
          </li>
          <li>
            <a href="/admin/banner" class="nav-link px-0 align-middle">
              <img src="/admin/images/banner.svg" alt="" style="width: 1rem" />
              <span class="ms-1 d-none d-sm-inline text-white">Banners</span></a
            >
          </li>
          <li>
            <a href="/admin/userDetails" class="nav-link px-0 align-middle">
              <img src="/admin/images/users.svg" alt="" style="width: 1rem" />
              <span class="ms-1 d-none d-sm-inline text-white">Users</span>
            </a>
          </li>
          <li>
            <a href="/admin/logout" class="nav-link px-0 align-middle">
              <img src="/admin/images/exit.svg" alt="" style="width: 1rem" />
              <span class="ms-1 d-none d-sm-inline text-white">Logout</span>
            </a>
          </li>
        </ul>
        <hr />
      </div>
    </div>
    <div class="col py-3">
      <div class="container mt-5">
        <h2>Banners</h2>

        <div class="d-flex align-items-center justify-content-between mb-4">
          <div class="d-flex justify-content-end col-12">
            <a href="/admin/addBanner"
              ><button class="btn rounded-pill btn-outline-success">
                Add Banner
              </button></a
            >
          </div>
        </div>
        <div class="table-responsive mt-5 html-content">
          <table
            class="table text-start align-middle table-bordered table-hover mb-0"
            id="table"
          >
            <thead>
              <tr class="text-white">
                <th
                  scope="col"
                  class="col-3 col-md-3 col-lg-3 col-xl-2 text-center"
                >
                  No
                </th>
                <th
                  scope="col"
                  class="col-3 col-md-3 col-lg-3 col-xl-2 text-center"
                >
                  Image
                </th>
                <th
                  scope="col"
                  class="col-3 col-md-3 col-lg-3 col-xl-2 text-center"
                >
                  Banner Text
                </th>
                <th
                  scope="col"
                  class="col-3 col-md-3 col-lg-3 col-xl-2 text-center"
                >
                  Coupon
                </th>
                <th
                  scope="col"
                  class="col-3 col-md-3 col-lg-3 col-xl-2 text-center"
                >
                  Action
                </th>
              </tr>
            </thead>
            <tbody>
              <% banners.forEach((banner)=>{ %>
              <tr>
                <td class="col-3 col-md-3 col-lg-3 col-xl-2 text-center">
                  <%= banner.banner %>
                </td>
                <td class="col-3 col-md-3 col-lg-3 col-xl-2 text-center">
                  <img
                    src="/admin/banners/<%= banner._id %>.jpg"
                    alt=""
                    style="width: 5rem"
                  />
                </td>
                <td class="col-3 col-md-3 col-lg-3 col-xl-2 text-center">
                  <%= banner.bannerText %>
                </td>
                <td class="col-3 col-md-3 col-lg-3 col-xl-2 text-center">
                  <%= banner.couponName %>
                </td>
                <td class="col-3 col-md-3 col-lg-3 col-xl-2 text-center">
                  <a href="/admin/editBanner/<%= banner._id %>"
                    ><button class="btn btn-outline-secondary">
                      <i class="bi bi-pencil-square"></i></button
                  ></a>
                  <button
                    class="btn btn-outline-danger"
                    data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop-<%= banner._id %>"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-trash3-fill"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"
                      />
                    </svg>
                  </button>

                  <!-- Modal -->
                  <div
                    class="modal fade"
                    id="staticBackdrop-<%= banner._id %>"
                    data-bs-backdrop="static"
                    data-bs-keyboard="false"
                    tabindex="-1"
                    aria-labelledby="staticBackdropLabel"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="staticBackdropLabel">
                            Delete
                          </h1>
                          <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                          ></button>
                        </div>
                        <div class="modal-body">
                          Want to delete <%= banner.banner %>
                        </div>
                        <div class="modal-footer">
                          <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                          >
                            Close
                          </button>
                          <a href="/admin/deleteBanner/<%= banner._id %>"
                            ><button type="button" class="btn btn-primary">
                              Confirm
                            </button></a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
