<%- include('../partials/userPartial.ejs') %>
<div class="container mt-3 d-flex justify-content-center">
  <div class="col-lg-8">
    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Full Name</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0"><%= userData.fullname %></p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Username</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0"><%= userData.username %></p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Email</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0"><%= userData.email %></p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Mobile</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0"><%= userData.mobile %></p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">password</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">.........</p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Address</p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">house name</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0"><%= userData.addressDetails[0].housename %></p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Area</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0"><%= userData.addressDetails[0].area %></p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Landmark</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0"><%= userData.addressDetails[0].landmark %></p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">City</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0"><%= userData.addressDetails[0].city %></p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">State</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0"><%= userData.addressDetails[0].state %></p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Pincode</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0"><%= userData.addressDetails[0].pincode %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <a href="/editAccount"><button type="button" class="btn btn-dark btn-block btn-lg" data-mdb-ripple-color="dark">
            Edit Profile
          </button></a>
      </div>
    </div>
  </div>
</div>
<%- include('../partials/user-footer.ejs') %>