<%- include('../partials/userPartial.ejs') %> <% if(productData.length===0){ %>
<center class="col-xl-12 col-md-6 col-sm-4">
  <h1 style="color: red">Sorry your cart is empty</h1>
  <img
    class="image-fluid col-xl-12 col-md-6 col-sm-4 mt-5"
    src="https://alphapharmaexhibitions.com/images/cartempty1.png"
    alt=""
    style="width: 14rem"
  /><br />
  <a
    class="btn btn-succes"
    href="/userhome"
    style="margin-top: 17px; color: green; border: solid green"
    >SHOP NOW</a
  >
</center>
<% }else{ %>
<section>
  <div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div
          class="card card-registration card-registration-2"
          style="border-radius: 15px"
        >
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <div
                    class="d-flex justify-content-between align-items-center mb-5"
                  >
                    <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                  </div>
                  <% productData.forEach((product)=>{ %>
                  <hr class="my-4" />
                  <div
                    class="row mb-4 d-flex justify-content-between align-items-center"
                  >
                    <div class="col-md-2 col-lg-2 col-xl-2">
                      <img
                        src="/admin/products/<%= product.productDetail._id %>.jpg"
                        class="img-fluid rounded-3"
                        alt="Cotton T-shirt"
                      />
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3 my-2">
                      <h6 class="text-black mb-0">
                        <%= product.productDetail.product %>
                      </h6>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex my-2">
                      <button
                        id="buttonNegative"
                        class="btn btn-link px-2"
                        onclick="changeQuantity('<%= product._id %>','<%= product.productDetail._id %>',-1)"
                      >
                        <i class="fas fa-minus"></i>
                      </button>
                      <p id="<%= product.productDetail._id %>">
                        <%= product.productQuantity %>
                      </p>
                      <button
                        class="btn btn-link px-2"
                        onclick="changeQuantity('<%= product._id %>','<%= product.productDetail._id %>',1)"
                      >
                        <i class="fas fa-plus"></i>
                      </button>
                    </div>

                    <div
                      class="col-md-3 col-lg-2 col-xl-2 offset-lg-1 d-flex justify-content-center my-2"
                    >
                      <h6 class="mb-0">
                        Rs. <%= product.productDetail.price %>
                      </h6>
                    </div>
                    <div
                      class="col-md-1 col-lg-1 col-xl-1 text-end d-flex justify-content-center my-2"
                    >
                      <button
                        class="btn btn-outline-none"
                        onclick="removeProduct('<%= product._id %>','<%= product.productDetail._id %>')"
                      >
                        <i class="fas fa-times"></i>
                      </button>
                    </div>
                  </div>
                  <% }) %>
                  <hr class="my-4" />
                  <div class="pt-5">
                    <h6 class="mb-0">
                      <a href="/userhome" class="text-body"
                        ><i class="fas fa-long-arrow-alt-left me-2"></i>Back to
                        shop</a
                      >
                    </h6>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 bg-grey">
                <div class="p-5">
                  <% if(productData.length!==0){ %>
                  <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                  <hr class="my-4" />
                  <% productData.forEach((product)=>{ %>
                  <div class="d-flex justify-content-between mb-4">
                    <p><%= product.productDetail.product %></p>
                    <p id="price">Rs.<%= product.productPrice %></p>
                  </div>
                  <% }) %>

                  <!-- <h5 class="text-uppercase mb-3">Shipping</h5> -->

                  <!-- <div class="mb-4 pb-2">
                    <select class="select">
                      <option value="1">Standard-Delivery- €5.00</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                      <option value="4">Four</option>
                    </select>
                  </div>

                  <h5 class="text-uppercase mb-3">Give code</h5>

                  <div class="mb-5">
                    <div class="form-outline">
                      <input
                        type="text"
                        id="form3Examplea2"
                        class="form-control form-control-lg"
                      />
                      <label class="form-label" for="form3Examplea2"
                        >Enter your code</label
                      >
                    </div>
                  </div> -->

                  <hr class="my-4" />

                  <div class="d-flex justify-content-between mb-5">
                    <h5 class="text-uppercase">Total price</h5>
                    <h5 id="sum">Rs.<%= sum %></h5>
                  </div>
                  <% if(productData.length!==0){ %>
                  <a href="/checkout"
                    ><button
                      type="button"
                      class="btn btn-dark btn-block btn-lg"
                      data-mdb-ripple-color="dark"
                    >
                      Proceed to checkout
                    </button></a
                  >
                  <% } %><% } %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<% } %> <%- include('../partials/user-footer.ejs') %>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

