<%- include('../partials/userPartial.ejs') %>
<section>
  <div class="container">
    <nav class="nav d-flex justify-content-center mt-5">
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="text-decoration-none" href="/shop"
          ><button
            class="nav-link"
            id="nav-home-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-home"
            type="button"
            role="tab"
            aria-controls="nav-home"
            aria-selected="true"
          >
            All
          </button></a
        >

        <% Categories.forEach((category)=>{ %>
        <a class="text-decoration-none" href="/categoryShop/<%= category._id %>"
          ><button
            class="nav-link"
            id="nav-profile-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-profile"
            type="button"
            role="tab"
            aria-controls="nav-profile"
            aria-selected="false"
          >
            <%= category.category %>
          </button></a
        >
        <% }) %>
      </div>
    </nav>
  </div>
</section>
<section class="py-5 bg-light">
  <div class="container px-4 px-lg-5 mt-5">
    <div
      class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-3 row-cols-xl-4 justify-content-center"
    >
      <% allProducts.forEach((allProducts)=>{ %>
      <div class="col mb-5">
        <div class="card h-100">
          <div class="text-end">
            <span class="text-danger" id="<%= allProducts._id %>"></span>
            <button
              id="wishButton"
              class="btn btn-outline-none"
              onclick="addToWishlist('<%= allProducts._id %>')"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                version="1.1"
                width="25"
                height="25"
                viewBox="0 0 256 256"
                xml:space="preserve"
              >
                <defs></defs>
                <g
                  style="
                    stroke: none;
                    stroke-width: 0;
                    stroke-dasharray: none;
                    stroke-linecap: butt;
                    stroke-linejoin: miter;
                    stroke-miterlimit: 10;
                    fill: none;
                    fill-rule: nonzero;
                    opacity: 1;
                  "
                  transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)"
                >
                  <path
                    d="M 64.44 12.016 c 5.225 0 10.136 2.035 13.831 5.729 c 7.626 7.626 7.626 20.035 0 27.662 l -19.44 19.44 L 45 78.677 L 31.169 64.846 l -19.44 -19.44 c -7.626 -7.626 -7.626 -20.035 0 -27.662 c 3.694 -3.694 8.606 -5.729 13.831 -5.729 c 5.225 0 10.136 2.035 13.831 5.729 l 1.367 1.367 L 45 23.354 l 4.242 -4.242 l 1.367 -1.367 C 54.304 14.05 59.216 12.016 64.44 12.016 M 64.44 6.016 c -6.541 0 -13.083 2.495 -18.073 7.486 L 45 14.869 l 0 0 l 0 0 l -1.367 -1.367 C 38.642 8.511 32.101 6.016 25.56 6.016 S 12.477 8.511 7.486 13.502 c -9.982 9.982 -9.982 26.165 0 36.147 l 19.44 19.44 c 0 0 0 0 0.001 0 L 45 87.163 l 18.073 -18.073 c 0 0 0 0 0 0 l 19.44 -19.44 c 9.982 -9.982 9.982 -26.165 0 -36.147 C 77.523 8.511 70.982 6.016 64.44 6.016 L 64.44 6.016 z"
                    style="
                      stroke: none;
                      stroke-width: 1;
                      stroke-dasharray: none;
                      stroke-linecap: butt;
                      stroke-linejoin: miter;
                      stroke-miterlimit: 10;
                      fill: rgb(0, 0, 0);
                      fill-rule: nonzero;
                      opacity: 1;
                    "
                    transform=" matrix(1 0 0 1 0 0) "
                    stroke-linecap="round"
                  />
                </g>
              </svg>
            </button>
          </div>
          <a
            class="text-decoration-none text-dark"
            href="/viewProduct/<%= allProducts._id %>"
            ><img
              class="card-img-top"
              src="/admin/products/<%= allProducts._id %>.jpg"
              alt="..."
          /></a>
          <div class="card-body p-4">
            <div class="text-center">
              <a
                class="text-decoration-none text-dark"
                href="/viewProduct/<%= allProducts._id %>"
                ><h5 class="fw-bolder"><%= allProducts.product %></h5></a
              >
            </div>
          </div>
          <div class="card-body">
            <div class="text-center">
              <h5 class="fw-bolder">Rs.<%= allProducts.price %></h5>
            </div>
          </div>
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <a href="/viewProduct/<%= allProducts._id %>"
                ><button class="btn btn-outline-dark mt-auto">
                  view product
                </button></a
              >
            </div>
          </div>
        </div>
      </div>
      <% })%>
    </div>
  </div>
</section>

<div class="container mb-5">
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
      <li class="page-item ">
        <a class="page-link" href="/categoryShop/<%= categoryId %>?page=<%= pages %>">First</a>
      </li>
      
      <% for (let i=1; i<= pages ; i++){ %>
        <% if( i == pageNum){ %>
      <li class="page-item active"><a class="page-link" href="/categoryShop/<%= categoryId %>?page=<%= i %>"><%= i %></a></li>
        <% }else{ %>
           <li class="page-item"><a class="page-link" href="/categoryShop/<%= categoryId %>?page=<%= i %>"><%= i %></a></li>
        <% } %>
      <% } %>
      
      <li class="page-item">
        <a class="page-link" href="/categoryShop/<%= categoryId %>?page=<%= pages %>">Last</a>
      </li>
    </ul>
  </nav>
</div>

<%- include('../partials/user-footer.ejs') %>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>