<%- include('../partials/userPartial.ejs') %>
<div class="container">
  <div class="row">
    <div class="col-md-8 mb-4">
      <div class="card mb-4">
        <div class="card-header py-3">
          <h5 class="mb-0">Biling details</h5>
        </div>
        <div class="card-body">
          <form id="checkout">
            <!-- Text input -->
            <div class="form-outline mb-4">
              <input
                type="text"
                id="housename"
                name="housename"
                class="form-control"
              />
              <label class="form-label" for="form7Example3">House name</label>
              <p id="houseError" style="color: red"></p>
            </div>

            <!-- Text input -->
            <div class="form-outline mb-4">
              <input type="text" id="area" name="area" class="form-control" />
              <label class="form-label" for="form7Example4">Area</label>
              <p id="areaError" style="color: red"></p>
            </div>

            <!-- Email input -->
            <div class="form-outline mb-4">
              <input
                type=""
                id="landmark"
                name="landmark"
                class="form-control"
              />
              <label class="form-label" for="form7Example5">Landmark</label>
              <p id="landmarkError" style="color: red"></p>
            </div>

            <!-- Number input -->
            <div class="form-outline mb-4">
              <input type="" id="city" name="city" class="form-control" />
              <label class="form-label" for="form7Example6">City</label>
              <p id="cityError" style="color: red"></p>
            </div>
            <div class="form-outline mb-4">
              <input type="" id="state" name="state" class="form-control" />
              <label class="form-label" for="form7Example6">State</label>
              <p id="stateError" style="color: red"></p>
            </div>
            <div class="form-outline mb-4">
              <input type="" id="pincode" name="pincode" class="form-control" />
              <label class="form-label" for="form7Example6">Pincode</label>
              <p id="pincodeError" style="color: red"></p>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value="permanentAddress"
                id="checkbox"
                name="checkbox"
              />
              <label class="form-check-label" for="flexCheckDefault">
                Use permanentAddress
              </label>
            </div>
            <div class="custom-control custom-radio">
              <input
                id="credit"
                name="paymentMethod"
                type="radio"
                value="COD"
                class="custom-control-input"
                checked
                required
              />
              <label class="custom-control-label" for="credit">COD</label>
            </div>
            <div class="custom-control custom-radio">
              <input
                id="debit"
                name="paymentMethod"
                type="radio"
                value="Online"
                class="custom-control-input"
                required
              />
              <label class="custom-control-label" for="debit">Online</label>
            </div>
            <div class="mt-3">
              <button
                type="submit"
                value="submit"
                class="btn btn-primary btn-lg btn-block"
              >
                Make purchase
              </button>
            </div>
          
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card mb-4">
        <div class="card-header py-3">
          <h5 class="mb-0">Summary</h5>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush sticky-top">
            <% productDAta.forEach((product)=>{ %>
            <li
              class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0"
            >
              <%= product.productDetail.product %>
              <span>Rs.<%= product.productPrice %></span>
            </li>
            <% }) %>
            <li
              class="list-group-item d-flex justify-content-between align-items-center px-0"
            >
              Shipping
              <span>Free</span>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center px-0"
            >
              <h5 class="text-uppercase mb-5">Give code</h5>
              <div>
                <div class="form-outline mt-3">
                  <input
                    type="text"
                    id="coupon" name="coupon"
                    class="form-control form-control-lg"
                  />
                  <label class="form-label" for="coupon" 
                    >Enter your code</label
                  >
                </div>
              </div>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3"
            >
              <div>
                <strong>Total amount</strong>
              </div>
              <span id="total">Rs.<%= sum %></span>
            </li>
          </ul>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
<%- include('../partials/user-footer.ejs') %>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  $("#checkout").submit((e) => {
    const total = document.getElementById("total").innerHTML;
    const verify = addressForm();
    console.log(verify);
    e.preventDefault();
    if (verify) {
      $.ajax({
        url: "/placeOrder",
        method: "post",
        data: $("#checkout").serialize(),
        success: (resposnse) => {
          if(resposnse.coupon){
             Swal.fire({
          title: "Coupon already used!",
          icon: "error",
          confirmButtonText: "continue",
        }).then(function () {
          location.reload()
        });
          }else if (resposnse.success) {
            location.href = "/orderSuccess";
          } else {
            razorPay(resposnse);
          }
        },
      });
    }
  });
  function razorPay(order) {
    var options = {
      key: "rzp_test_WekI0c4CjhtNac", // Enter the Key ID generated from the Dashboard
      amount: order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
      currency: "INR",
      name: "Chocolate Cafe",
      description: "Test Transaction",
      image: "/admin/images/Chocolat Cafe Simple Design.png",
      order_id: order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
      handler: function (response) {
        // alert(response.razorpay_payment_id);
        // alert(response.razorpay_order_id);
        // alert(response.razorpay_signature);
        verifyPayment(response, order);
      },
      prefill: {
        name: "Akshay",
        email: "akshay@gmail.com",
        contact: "9999999999",
      },
      notes: {
        address: "Razorpay Corporate Office",
      },
      theme: {
        color: "#3399cc",
      },
    };
    var rzp1 = new Razorpay(options);
    rzp1.on("payment.failed", function (response) {
      // alert(response.error.code);
      // alert(response.error.description);
      // alert(response.error.source);
      // alert(response.error.step);
      // alert(response.error.reason);
      // alert(response.error.metadata.order_id);
      // alert(response.error.metadata.payment_id);
      // paymentFail(response);
      location.href="/paymentFail";
    });
    rzp1.open();
  }
  function verifyPayment(payment, order) {
    $.ajax({
      url: "/verifyPayment",
      data: {
        payment,
        order,
      },
      method: "post",
      success: (response) => {
        if (response.success) {
          location.href = "/orderSuccess";
        } else {
          location.href = "/paymentFail";
        }
      },
    });
  }
</script>
