<%- include('../partials/userPartial.ejs') %>
<div class="container">
  <section>
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px">
              <div class="card-body p-5">
                <h5 class="text-uppercase text-center mb-5">Edit Account</h5>

                <form
                  action="/editAccount"
                  method="post"
                  onsubmit="return eiditForm(this);"
                >
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example1cg"
                      >Full Name</label
                    >
                    <input
                      type="text"
                      id="fullname"
                      name="fullname"
                      value="<%= userData.fullname %>"
                      class="form-control form-control-lg"
                    />
                    <p id="nameError" style="color: red"></p>
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example3cg"
                      >Username</label
                    >
                    <input
                      type="numb"
                      id="username"
                      name="username"
                      readonly
                      value="<%= userData.username %>"
                      class="form-control form-control-lg"
                    />
                    <p id="userNameError" style="color: red"></p>
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example4cg"
                      >Email</label
                    >
                    <input
                      type="numb"
                      id="email"
                      name="email"
                      readonly
                      value="<%= userData.email %>"
                      class="form-control form-control-lg"
                    />
                    <p id="emailError" style="color: red"></p>
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example4cdg"
                      >Mobile</label
                    >
                    <input
                      type="text"
                      id="description"
                      readonly
                      name="mobile"
                      value="<%= userData.mobile %>"
                      class="form-control form-control-lg"
                    />
                    <p id="mobileError" style="color: red"></p>
                  </div>
                  <div class="form-outline mb-4">
                    <input
                      type="hidden"
                      id="description"
                      name="password"
                      value="<%= userData.password %>"
                      class="form-control form-control-lg"
                    />
                  </div>
                  <label class="form-label" for="form3Example4cdg"
                    >Address</label
                  >
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example4cdg"
                      >House name</label
                    >
                    <input
                      type="num"
                      id="housename"
                      name="housename"
                      class="form-control form-control-lg"
                      value="<%= userData?.permanentAddress?.housename %>"
                    />
                    <p id="houseError" style="color: red"></p>
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example4cdg"
                      >Area</label
                    >
                    <input
                      type="num"
                      id="area"
                      name="area"
                      class="form-control form-control-lg"
                      value="<%= userData?.permanentAddress?.area %>"
                    />
                    <p id="areaError" style="color: red"></p>
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example4cdg"
                      >Landmark</label
                    >
                    <input
                      type="num"
                      id="landmark"
                      name="landmark"
                      class="form-control form-control-lg"
                      value="<%= userData?.permanentAddress?.landmark%>"
                    />
                    <p id="landmarkError" style="color: red"></p>
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example4cdg"
                      >City</label
                    >
                    <input
                      type="num"
                      id="city"
                      name="city"
                      class="form-control form-control-lg"
                      value="<%= userData?.permanentAddress?.city %>"
                    />
                    <p id="cityError" style="color: red"></p>
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example4cdg"
                      >State</label
                    >
                    <input
                      type="num"
                      id="state"
                      name="state"
                      class="form-control form-control-lg"
                      value="<%= userData?.permanentAddress?.state %>"
                    />
                    <p id="stateError" style="color: red"></p>
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example4cdg"
                      >Pincode</label
                    >
                    <input
                      type="num"
                      id="pincode"
                      name="pincode"
                      class="form-control form-control-lg"
                      value="<%= userData?.permanentAddress?.pincode %>"
                    />
                    <p id="pincodeError" style="color: red"></p>
                  </div>
                  <div class="d-flex justify-content-center">
                    <button
                      type="submit"
                      value="submit"
                      class="btn text-white"
                      style="background-color: #57423f"
                    >
                      Submit
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<%- include('../partials/user-footer.ejs') %>
