<%- include('../partials/userPartial.ejs') %>

<div class="container table-responsive mt-5 mb-5">
  <% if(orderDetails.length !==0){ %>
  <table class="table table-hover table-light" id="table">
    <thead>
      <tr>
        <th scope="col" class="col-3 col-md-3 col-lg-3 col-xl-1 text-center">
          OrderDate
        </th>
        <th scope="col" class="col-3 col-md-3 col-lg-3 col-xl-1 text-center">
          Name
        </th>
        <th scope="col" class="col-3 col-md-3 col-lg-3 col-xl-1 text-center">
          Address
        </th>

        <th scope="col" class="col-3 col-md-3 col-lg-3 col-xl-1 text-center">
          paymentMethod
        </th>
        <th scope="col" class="col-3 col-md-3 col-lg-3 col-xl-1 text-center">
          PaymentStatus
        </th>
        <th scope="col" class="col-3 col-md-3 col-lg-3 col-xl-1 text-center">
          orderStatus
        </th>
        <th scope="col" class="col-3 col-md-3 col-lg-3 col-xl-1 text-center">
          Amount
        </th>
        <th scope="col" class="col-3 col-md-3 col-lg-3 col-xl-1 text-center">
          DeliveryDate
        </th>
        <th scope="col" class="col-3 col-md-3 col-lg-3 col-xl-1 text-center">
          Options
        </th>
      </tr>
    </thead>
    <tbody>
      <% orderDetails.forEach((order)=>{ %>
      <tr>
        <th scope="row" class="col-3 col-md-3 col-lg-3 col-xl-1 text-center">
          <%= order.orderDate %>
        </th>
        <td class="col-3 col-md-3 col-lg-3 col-xl-1 text-center">
          <%= order.fullname %>
        </td>
        <td class="col-3 col-md-3 col-lg-3 col-xl-1 text-center">
          <%= order.address.housename %>,<%= order.address.area %>,<%=
          order.address.landmark %> <%= order.address.city %>,<%=
          order.address.state %>,<%= order.address.pincode %>
        </td>

        <td class="col-3 col-md-3 col-lg-3 col-xl-1 text-center">
          <%= order.paymentMethod %>
        </td>
        <td class="col-3 col-md-3 col-lg-3 col-xl-1 text-center">
          <%= order.paymentStatus %>
        </td>
        <td class="col-3 col-md-3 col-lg-3 col-xl-1 text-center">
          <%= order.orderStatus %>
        </td>
        <td class="col-3 col-md-3 col-lg-3 col-xl-1 text-center">
          <%= order.totalAmount %>
        </td>
        <td class="col-3 col-md-3 col-lg-3 col-xl-1 text-center">
          <%= order.deliveryDate %>
        </td>
        <td>
          <a href="/viewOrderProducts/<%= order._id %>">
            <button
              type="button"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              class="btn btn-info text-white"
              style="background-color: #57423f; width: 4.5rem"
            >
              View
            </button></a
          >
          <a href="/cancelOrder/<%= order._id %>"
            ><button type="button" class="btn btn-danger">Cancel</button></a
          >
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <% }else{ %>
  <div>
    <center class="col-xl-12 col-md-6 col-sm-4">
      <h1 style="color: red">You Havent Ordered Anything Yet...</h1>
      <img
        class="image-fluid col-xl-12 col-md-6 col-sm-4 mt-5"
        src="/user/images/out-of-stock.png"
        alt=""
        style="width: 14rem"
      /><br />
      <a
        class="btn btn-succes"
        href="/userhome"
        style="margin-top: 17px; color: green; border: solid green"
        >SHOP NOW</a
      >
    </center>
  </div>
  <% } %>
</div>

<%- include('../partials/user-footer.ejs') %>
<script>
  $(document).ready(function () {
    $("#table").DataTable();
  });
</script>
