<%- include('../partials/userPartial.ejs') %>
<section class="py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
      <% data.forEach((data)=>{ %>
      <div class="col-md-6">
        <img
          class="card-img-top mb-5 mb-md-0"
          src="/admin/products/<%= data._id %>.jpg"
          alt="..."
        />
      </div>
      <div class="col-md-6">
        <h1 class="display-5 fw-bolder"><%= data.product %></h1>
        <div class="fs-5 mb-5 mt-5">
          <h5 class="">Rs.<%= data.price %></h5>
        </div>
        <p class="lead"><%= data.description %></p>
        <% if(session) { %>
        <div class="d-flex">
          <button class="btn btn-outline-dark mt-auto" onclick="addToCart('<%= data._id %>')">Add to Cart</button> 
        <% }else{ %>
        <div class="d-flex">
          <a href="/user"><button class="btn btn-outline-dark mt-auto">Add to Cart</button></a>
        </div>
        <% } %>
      </div>
      <% }) %>
    </div>
  </div>
</section>
<%- include('../partials/user-footer.ejs') %>

<!-- <div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="..." class="rounded me-2" alt="...">
      <strong class="me-auto">Bootstrap</strong>
      <small>11 mins ago</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Hello, world! This is a toast message.
    </div>
  </div>
</div> -->
