<%- include('../partials/userPartial.ejs') %>

<div
  id="carouselExampleControls"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <main>
    <section
      id="hero"
      class="hero d-flex align-items-center section-bg"
      style="background-color: #eaeff6"
    >
      <div class="container">
        <div class="row justify-content-between gy-5">
          <div
            class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start"
          >
            <h2 data-aos="fade-up" class="font-weight-bold display-6 fw-bolder">
              Enjoy Your Healthy<br />Delicious Chocolates
            </h2>
            <p data-aos="fade-up" data-aos-delay="100">
              <%= banners[0]?.bannerText %> "<%= banners[0]?.couponName %>"
            </p>
            <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
              <a
                href="/shop"
                class="btn px-5 py-3 text-white mt-3 mt-sm-0"
                style="border-radius: 30px; background-color: #9b5de5"
                >Shop Now</a
              >
            </div>
          </div>
          <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
            <img
              src="/user/images/new4.png"
              class="img-fluid"
              alt=""
              data-aos="zoom-out"
              data-aos-delay="300"
            />
          </div>
        </div>
      </div>
    </section>
    <section id="about">
      <div class="container-fluid py-5">
        <div class="container py-5">
          <div class="row justify-content-center">
            <div class="col-lg-7">
              <h1 class="section-title position-relative text-center mb-5">
                Traditional & Delicious Chocolates Since 2004
              </h1>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 py-5">
              <h4 class="font-weight-bold mb-3">About Us</h4>
              <h5 class="text-muted mb-3">
                Amazin chocolates with milk , ice creame and more....
              </h5>
              <p>
                Our exciting collections includes universal favorites like the
                delicious Pastry chef fantasy and Almount dark Chocolate along
                with local favorite flavors like Salted ruttles and Poppy
                strudel.
              </p>
            </div>
            <div class="col-lg-4" style="min-height: 400px">
              <div class="position-relative h-100 rounded overflow-hidden">
                <img
                  class="position-absolute w-100 h-100"
                  src="/user/images/about.jpg"
                  style="object-fit: cover"
                />
              </div>
            </div>
            <div class="col-lg-4 py-5">
              <h4 class="font-weight-bold mb-3">Our Features</h4>

              <p class="mb-3">
                We’ve been serving Happyness since 2004. So grab a spoon and dig
                deeper into our history- there’s a treasure trove of innovation
                and creativity waiting for you!
              </p>
              <h5 class="text-muted mb-3">
                <i class="fa fa-check text-secondary mr-3"></i>100% vegetarian
              </h5>
              <h5 class="text-muted mb-3">
                <i class="fa fa-check text-secondary mr-3"></i>Made with pure
                chocolates
              </h5>
              <h5 class="text-muted mb-3">
                <i class="fa fa-check text-secondary mr-3"></i>Outstanding
                product innovations
              </h5>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container mt-5">
        <div class="tab-header text-center">
          <h3>OUR BEST SELLERS</h3>
        </div>
      </div>
    </section>
    <section class="py-5 bg-light">
      <div class="container px-4 px-lg-5 mt-5">
        <div
          class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-3 row-cols-xl-4 justify-content-center"
        >
          <% allProducts.forEach((allProducts)=>{ %>
          <div class="col mb-5">
            <div class="card h-100">
              <a
                class="text-decoration-none text-dark"
                href="/shop"
                ><img
                  class="card-img-top"
                  src="/admin/products/<%= allProducts._id %>.jpg"
                  alt="..."
              /></a>
              <div class="card-body p-4">
                <div class="text-center">
                  <a
                    class="text-decoration-none text-dark"
                    href="/viewProduct/<%= allProducts._id %>"
                    ><h5 class="fw-bolder"><%= allProducts.product %></h5></a
                  >
                </div>
              </div>
              <div class="card-body">
                <div class="text-center">
                  <h5 class="fw-bolder">Rs.<%= allProducts.price %></h5>
                </div>
              </div>
              <div
                class="card-footer p-4 pt-0 border-top-0 bg-transparent"
              ></div>
            </div>
          </div>
          <% })%>
        </div>
      </div>
    </section>
  </main>
</div>
<%- include('../partials/user-footer.ejs') %>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<style>
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

  body {
    font-family: "Poppins", sans-serif !important;
  }

  .headline {
    left: 130px;
  }
  .clipped {
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
  }
  @media screen and (max-width: 650px) {
    .headline {
      left: 20px;
    }
    .clipped {
      clip-path: none;
      max-height: 300px !important;
    }
  }
</style>
