<%- include('../partials/userPartial.ejs') %> <% if(wishlistData.length===0){ %>
<center class="col-xl-12 col-md-6 col-sm-4">
  <h1 style="color: red">Sorry your wishlist is empty</h1>
  <img
    class="image-fluid col-xl-12 col-md-6 col-sm-4 mt-5"
    src="https://alphapharmaexhibitions.com/images/cartempty1.png"
    alt=""
    style="width: 14rem"
  /><br />
  <a
    class="btn btn-succes"
    href="/userhome"
    style="margin-top: 17px; color: green; border: solid green"
    >SHOP NOW</a
  >
</center>
<% }else{ %>
<section>
  <section>
    <div class="container h-100 py-5">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-10">
          <div class="d-flex justify-content-between align-items-center mb-4">
            <h3 class="fw-normal mb-0 text-black">Wishlist</h3>
          </div>
          <% wishlistData.forEach((wishlist)=>{ %>
          <div class="card rounded-3 mb-4">
            <div class="card-body p-4">
              <div
                class="row d-flex justify-content-between align-items-center"
              >
                <div class="col-md-2 col-lg-2 col-xl-2">
                  <img
                    src="/admin/products/<%= wishlist.productDetail._id %>.jpg"
                    class="img-fluid rounded-3"
                    alt="Cotton T-shirt"
                  />
                </div>
                <div
                  class="col-md-3 col-lg-3 col-xl-3 d-flex justify-content-center my-2"
                >
                  <p class="lead fw-normal mb-2">
                    <%= wishlist.productDetail.product %>
                  </p>
                </div>
                <div
                  class="col-md-3 col-lg-3 col-xl-2 d-flex justify-content-center my-2"
                >
                  <h5 class="mb-0"><%= wishlist.productDetail.price %></h5>
                </div>
                <div
                  class="col-md-3 col-lg-2 col-xl-2 d-flex justify-content-center my-2"
                >
                  <button
                    class="btn btn-outline-none"
                    onclick="removeWishlistProduct('<%= wishlist._id %>','<%= wishlist.productDetail._id %>')"
                  >
                    <i class="fas fa-trash fa-lg"></i>
                  </button>
                </div>
                <div
                  class="col-md-1 col-lg-1 col-xl-1 d-flex justify-content-center my-2"
                  style="width: 12rem"
                >
                  <button
                    class="btn btn-outline-dark"
                    onclick="addToCartWish('<%= wishlist.productDetail._id %>')"
                  >
                    Add to Cart
                  </button>
                  <p id="exist" class="text-danger"></p>
                </div>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
  </section>
  <% } %> <%- include('../partials/user-footer.ejs') %>
  <script></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</section>
